*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;

}
.color-orange{
    color:#FD6E0A;
}
header{
    background-color: #FFF8F3;
    background: url(/images/developer.png),url(/images/header_bg.png),#FFF8F3;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav {
    width: 74%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    /* margin-right: 30px; */
    
}
#banner{
    display: flex;
    margin: 39px 38px 0 228px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    max-width: 587px;
    margin-bottom: 30px;
}
.btn1{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-right: 30px;
    
}
.btn2{
    background-color: #FFF8F3;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
   color:#FD6E0A;
    cursor: pointer;
    border: 2px solid #FD6E0A;
    /* margin-right: 30px; */
 
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}